:root {
  --dark-color: #19283f;
  --green-color: #33d1cc;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
}

.bg-main-dark {
  background-color: var(--dark-color);
}

.bg-main-green {
  background-color: var(--green-color);
}

.bg-main-red {
  background-color: var(--red-color);
}

.bg-main-yellow {
  background-color: var(--yellow-color);
}

.bg-main-section {
  background-color: var(--section-color);
}

.main-green {
  color: var(--green-color);
}

.main-yellow {
  color: var(--yellow-color);
}

.main-section {
  color: var(--section-color);
}

/* Start Components */
.main-title {
  padding: 100px 0 40px;
  text-align: center;
}

.main-title img {
  margin: 0 auto;
  display: block;
  margin-bottom: 1.5rem;
}

.main-title h1 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 500;
}

.main-title p {
  color: #888;
  position: relative;
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 1.5rem;
}

.main-title p::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  width: 50%;
  border-bottom: 3px solid var(--green-color);
  margin: 0 auto;
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
  transform: translatex(-50%);
}
/* End Components */
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-width: 120px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

.btn {
  border: 1px solid var(--red-color);
}

.btn:hover {
  background-color: #fff;
  color: var(--red-color) !important;
}

/* Start Navbar */
.navbar {
  background-color: var(--dark-color);
  height: 72px;
}

.navbar .navbar-toggler[aria-expanded="true"] svg {
  border: 1px solid var(--green-color) !important;
}

.navbar .nav-item .nav-link {
  color: #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.navbar .nav-item .nav-link.active,
.navbar .nav-item .nav-link:focus,
.navbar .nav-item .nav-link:hover {
  color: var(--green-color);
}

.navbar .search {
  border-color: var(--green-color) !important;
}

.navbar .search svg {
  color: var(--green-color);
}
/* End Navbar */

/* Start Landing */
.landing {
  height: calc(100vh - 72px);
}
/* End Landing */

/* Start Features */

.features .icon .number {
  font-size: 12rem;
}
/* End Features */

/* Start Our Work */
.our-work li:hover a {
  color: var(--red-color) !important;
}

.our-work .image {
  padding: 8px;
}

.our-work .image::before {
  content: attr(data-work);
  position: absolute;
  left: 50%;
  top: 50%;
  width: calc(100% - 14px);
  height: calc(100% - 14px);
  transform: translate(calc(-150% - 8px), -50%);
  -webkit-transform: translate(calc(-150% - 8px), -50%);
  -moz-transform: translate(calc(-150% - 8px), -50%);
  -ms-transform: translate(calc(-150% - 8px), -50%);
  -o-transform: translate(calc(-150% - 8px), -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
  background-color: #33d1cccf;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.our-work .image:hover::before {
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.our-work .container > a {
  width: fit-content;
  border: 2px solid var(--red-color);
}
/* End Our Work */

/* Start Stuff */
.stuff .description {
  max-width: 500px;
}

.stuff a {
  border: 2px solid var(--red-color) !important;
}
/* End Stuff */

/* Start Team */
/* ************************************************ */
/* End Team */

/* Start Brands */
/* ************************************************ */
/* End Brands */

/* Start Project */
/* ************************************************ */
/* End Project */

/* Start Blog */
/* ************************************************ */
/* End Blog */

/* Start Subscribe */
.subscribe input[type="email"] {
  outline: none;
  color: #fff;
  caret-color: #fff;
}

.subscribe input[type="email"]::placeholder {
  color: #fff;
}
/* End Subscribe */

/* Start Footer */
/* ************************************************ */
/* End Footer */
